.div1{
    background-color: red;
    width: 200px;
    height: 200px;
}

.div2{
    background-color: rgb(3, 16, 128);
    width: 200px;
    height: 200px;
}
.div3{
    background-color: rgb(45, 155, 18);
    width: 200px;
    height: 200px;
}
.parent{
    display: flex;
    align-items: center;
    justify-content: space-around;
}